<body> 
   
       <%- include ("./partials/Header.ejs") %> <!--Metodo de Chamada do Header Dinamico-->

        <div class="page-title">
            <h1></h1> 
        </div> 
     
   <main>
    <div class="contain">
        <div class="pagination">
            <a href="/">Home > </a>
            <p>Cardápio</p> 

        </div>
        <%dishs.forEach(el => { %>
            <nav class="content">
                <div class="cards">
                    <section class="card">
                        <div class="icon">
                            <img src="<%= el.url %>" alt="">
                        </div>
                        <div class="back-title">   
                            <h3><%= el.dish %></h3>
                            <p><%= el.info %></p>
                            <span>R$ <%= el.price %>,99</span><br>
                            <button>Pedir este prato</button>
                        </div>
                    </section>
                </div>
            </nav>
        <% }); %>

    </div>
   </main>


   <%- include ('./partials/Footer.ejs')  %> <!--Método de chamada do Footer Dinâmico-->


</body>
</html>