<body> 
   
       <%- include ("./partials/Header.ejs") %> <!--Metodo de Chamada do Header Dinamico-->

        <div class="page-title">
            <h1>Olá! <%=usuario.nameComplet%></h1> 
        </div> 
     
   <main>
    <div class="contain">
        <div class="pagination">
            <a href="/">Home > </a>
            <p>Cardápio</p> 

        </div>
        <%dishs.forEach(el => { %>

            <nav class="content">
                <div class="cards">
                    <section class="card">
                        <a href="/produto/<%=el.id%>">
                            <div class="icon">
                                <img src="/menu/<%= el.image %>" alt="">
                            </div>
                        </a>
                        <div class="back-title">   
                            <h3><%= el.dish %></h3>
                            <p><%= el.descriptions.slice(0,85) %>...</p>
                            <span>R$ <%= el.price %></span><br>
                            <button>Pedir este prato</button>
                        </div>
                    </section>
                </div>
            </nav>
        <% }); %>

    </div>
   </main>


   <%- include ('./partials/Footer.ejs')  %> <!--Método de chamada do Footer Dinâmico-->


</body>
</html>