<body>

        <%- include ('./partials/Header.ejs') %>


        <div class="page-title">
            <h1><%= titulo %></h1> 
        </div>        
   </header>

   <div class="contain">
    <div class="pagination">
            <a href="/">Home > </a>
            <a href="/cardapios">Cardápio > </a>
            <p>Detalhes do Produto</p> 
        </div>
    </div>

    <main class="detalhes-produto">
        
        <section class="detalhes-img">
            <img id="imagemPrato" src="<%=product.url%>" alt="">
        </section>

        <section class="detalhes-descricao">            
            <div class="detalhes-prato">
                
                    <h1 class="nome-prato"><%= product.dish %></h1>
              
                <p class="descricao-produto"> <%=product.info%></p>
            </div>

                <div class="align-info">
                    <div class="tamanho">
                        <p>Tamanho: </p>
                        <label for=""><input type="radio" id="pequeno"> Pequena(300 g)</label>
                        <label for=""><input type="radio"> Grande(600 g)</label>
                    </div>
                </div>

                <div class="align-info">
                    <div class="tamanho">
                        <p>Selecione a quantidade: </p>
                        <input type="number" name="" id="">
                    </div>
                </div>

                <div class="align-info">
                    <div class="tamanho">
                        <p>Pimenta?<p>

                        <input type="radio" id="nenhuma-pimenta" name="nenhuma-pimenta" value="nenhuma-pimenta">
                        <label for="nenhuma-pimenta"> Nenhuma Pimenta</label>

                        <input type="radio" id="pouca-pimenta" name="pouca-pimenta" value="pouca-pimenta">
                        <label for="pouca-pimenta"> Pouca Pimenta</label>

                        <input type="radio" id="muita-pimenta" name="muita-pimenta" value="muita-pimenta">
                        <label for="muita-pimenta"> Muita Pimenta</label>
                </div>
                </div>
            

            <div class="preco">
                <h3 class="valor-final">Valor do Prato: </h3> 
                <p class="valor">R$ <%=product.price%>, 99</p>
            </div>

            <button class="adicionar-carrinho" type="submit" >ADICIONAR AO CARRINHO</button>

        </section>
    </main>

    <%- include('./partials/Footer.ejs') %> 

</body>
</html>